//
  //- Set defaults
  {{ $.Scratch.Set "align" "center" }}
  {{ $.Scratch.Set "paddingBottom" "56.25" }}
  
  {{ if .IsNamedParams }}

    {{ $.Scratch.Set "video_url" (.Get "video_url") }}
    
    {{ with .Get "align" }}
      {{ $.Scratch.Set "align" . }}
    {{ end }}
    
    {{ with .Get "paddingBottom" }}
      {{ $.Scratch.Set "paddingBottom" . }}
    {{ end }}

    //- An optional caption can be supplied.
    {{ if .Get "caption" }}
      {{ $.Scratch.Set "caption" (.Get "caption") }}
    {{ end }}

  {{ else }}

    //- This is left in for compatibility with older posts.
    {{ $.Scratch.Set "video_url" (.Get 0) }}

  {{ end }}

.figure(
  class!='figure--{{ $.Scratch.Get "align" }}'
)
  .embed-container.embed-container--loading.figure__image-wrap(
    style!='padding-bottom: {{ $.Scratch.Get "paddingBottom" }}%;'
  )
    .fb-video(
      data-href!='{{ $.Scratch.Get "video_url" }}'
      data-width="750"
      data-allowfullscreen="true"
      data-autoplay="false"
    )
  // {{ with .Inner }}
  figcaption.figure__caption {{ . }}
  // {{ end }}
