//- 
  Example:

  BASIC EXAMPLE
  {{< tweetable >}}
    This is my sweet, tweetable text!
  {{< /tweetable >}}

  ADVANCED EXAMPLE
  {{< tweetable
        url="http://example.com/"
        replyto="763334430601674752"
        via="jlengstorf"
  >}}
    This is my sweet, tweetable text!
  {{< /tweetable >}}

  RETWEET AN EXISTING TWEET
  {{< tweetable 
        intent_url="https://twitter.com/intent/retweet?tweet_id=763334430601674752"
  />}}
// {{ if .Get "intent_url" }}
//   {{ $.Scratch.Set "link" (.Get "intent_url") }}
// {{ else }}
//   {{ $.Scratch.Add "link" "https://twitter.com/intent/tweet?text=" }}
//   {{ $.Scratch.Add "link" (.Inner | chomp) }}
//   {{ if .Get "url" }}
//     {{ $.Scratch.Add "link" (print "&url=" (.Get "url")) }}
//   {{ end }}
//   {{ if .Get "via" }}
//     {{ $.Scratch.Add "link" (print "&via=" (.Get "via")) }}
//   {{ end }}
//   {{ if .Get "replyto" }}
//     {{ $.Scratch.Add "link" (print "&in-reply-to=" (.Get "replyto")) }}
//   {{ end }}
//   {{ $.Scratch.Add "link" "&related=jlengstorf" }}
// {{ end }}
blockquote.tweetable
  p.tweetable__text {{ .Inner }}
  a.tweetable__link(
    href!= '{{ $.Scratch.Get "link" }}'
  ) Tweet That Shit!
