mixin optin(buttonText, group, source)
  .opt-in
    form.opt-in__form(
      action= `https://api.lengstorf.com/user`
      method="post"
      role="form"
    )
      .opt-in__input-group
        label.opt-in__label.opt-in__label--name(
          for="fname"
        ) First Name
        input.opt-in__input(
          type="text"
          id="fname"
          name="FNAME"
          required
        )
      .opt-in__input-group
        label.opt-in__label.opt-in__label--email(
          for="email"
        ) Email Address
        input.opt-in__input(
          type="text"
          id="email"
          name="EMAIL"
          required
        )
      button.opt-in__submit.button(
        type="submit"
        name="subscribe"
      )!= buttonText

      input(
        type="hidden"
        name="SOURCE"
        value!= source || 'opt-in'
      )
      input(
        type="hidden"
        name="status"
        value="unsubscribed"
      )
      input(
        type="hidden"
        name="redirect"
        value!= '{{ "/confirm/" | absURL }}'
      )
      input(
        type="hidden"
        name!= group
        value="1"
      )
