.credibility
  .credibility__lede I’ve worked with great companies, including:
  .credibility__image-wrap.js--lazyload(
    style="padding-bottom: 6.3%;"
  )
    img.credibility__image(
      src="/images/worked-with-dark.png"
      srcset="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
      data-lazyload="/images/worked-with-dark.png 300w, /images/worked-with-dark@2x.png 600w"
      alt="Jason Lengstorf has worked with Intel, PlayStation, Precision Nutrition, CSS Dev Conf, and more"
    )
