extends ../pug-includes/base

block append config
  -
    config.type = 'post-previews';

    // Sets the blog item as the active item
    config.nav.map(item => {
      if (item.slug === 'blog') {
        item.classes.push('active');
      }

      return item;
    });
  -

block content
  //{{ $category := index $.Site.Data.category (urlize .Title) }}
  h1.
    {{ if isset .Data "Singular" }}
      {{ if isset $category "name" }}
        {{ $category.name }}
      {{ else }}
        {{ .Data.Singular | title }}: {{ .Title | title }}
      {{ end }}
    {{ else }}
      Latest Posts
    {{ end }}

  //{{ with $category.summary }}
  .main-content__archive-description {{ . | safeHTML }}
  //{{ end }}

  //{{ if isset .Data "Singular" }}{{ else }}
  script.
    (function() {
      var cx = '007515341874450556556:wqrlmcefmg4';
      var gcse = document.createElement('script');
      gcse.type = 'text/javascript';
      gcse.async = true;
      gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
          '//cse.google.com/cse.js?cx=' + cx;
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(gcse, s);
    })();
  gcse:search
  //{{ end }}

  //
    {{ $paginator := .Paginate (where .Data.Pages "Type" "blog") }}
    
    {{ range $paginator.Pages }}
  article.post-preview
    h2.post-preview__heading
      a.post-preview__heading-link(
        href="{{ .Permalink }}"
      ) {{ .Title }}
    .post-preview__info
      .post-preview__meta.meta
        | {{ partial "blog_category.html" . }}
        | {{ partial "blog_tags.html" . }}
      a.post-preview__image-link.alignleft(
        href= '{{ .Permalink }}'
      )
        div.js--lazyload
          //{{ $image := replace (index .Params.images 0) "-600x300" "" }}
          img.post-preview__image(
            src!= '{{ replace $image ".jpg" "-300x150.jpg" }}'
            srcset="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
            data-lazyload!= '{{ replace $image ".jpg" "-300x150.jpg" }} 300w, {{ replace $image ".jpg" "-600x300.jpg" }} 600w, {{ $image }} 690w, {{ replace $image ".jpg" "@2x.jpg" }} 1380w'
            sizes="(min-width: 768px) 300px, 100vw"
            alt!= '{{ .Title }}'
          )
          noscript
            img.post-preview__image(
              src!= '{{ replace $image ".jpg" "@2x.jpg" }}'
              srcset!= '{{ replace $image ".jpg" "-300x150.jpg" }} 300w, {{ replace $image ".jpg" "-600x300.jpg" }} 600w, {{ $image }} 690w, {{ replace $image ".jpg" "@2x.jpg" }} 1380w'
              sizes="(min-width: 768px) 300px, 100vw"
              alt!= '{{ .Title }}'
            )
      .post-preview__excerpt
        p {{ .Description }}
        a.post-preview__read-more.button(
          href='{{ .Permalink }}'
        ) Read this post
  //{{ end }}

  .main-content__pagination {{ template "_internal/pagination.html" . }}
